<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257832902393-q7siifc307jh1h3hc82ehkhorrlradmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257832902393-q7siifc307jh1h3hc82ehkhorrlradmt</string>
	<key>API_KEY</key>
	<string>AIzaSyAMzMhETWddWgrZYIltaXC4uCmwtgYE_nA</string>
	<key>GCM_SENDER_ID</key>
	<string>257832902393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hskim.DiversityFilm</string>
	<key>PROJECT_ID</key>
	<string>diversity-film</string>
	<key>STORAGE_BUCKET</key>
	<string>diversity-film.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257832902393:ios:df76f022ed7478fe9e4c28</string>
</dict>
</plist>